@media only screen and (max-width: 640px){
  
   
    
     /* Promo */
    
    .promo {
      background-color: black;
      color: white;
      padding-top: 10rem;
      height: auto;
      margin-top: 3rem;
    }
    .promo-details-div{
     display: inline-block;
      width: 100%;
    }
    .promo-card{
      background-color: white;
    color: black;
    display: inline-block;
    width: 19rem;
       margin: 1rem;
       padding-top: 1rem;
       box-sizing: border-box;
       box-shadow: 0 4px 2px  rgb(236, 8, 8);
       transform: scale(1);
      transition: transform 0.5s ease;
    } 
    .promo-card:hover{
      box-shadow: 5px 10px 20px 1px rgb(27, 24, 24) !important;
      transform: scale(1.1);
    }
    .promo-card h3{
      font-family: 'Oswald', sans-serif;
      color: red;
    }
    .promo-card hr{
      width: 99%;
      border: 1px solid rgb(236, 8, 8);
      margin-top: 2rem;
    }
    .promo-card p{
      padding: 1rem;
      font-family: 'Faustina', serif;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 4rem;
      font-size: 1.6rem;
    }
    .promo-card li{
      list-style-type:none;
      width: 90%;
      margin: 1rem;
      font-size: 1.2rem;
      text-align: center;
    }
    .promo-enquiry-div{
      background-color: white;
      margin-top: 3rem;
      display: inline-block;
      padding: 2rem;
      width: 100%;
      /* height: 18rem; */
      color: white;
    }
    
    .promo-enquiry-div h1{
      font-size: 1.2rem;
      color: green;
        margin-bottom: 3rem;
    }
    .promo-top {
      display: inline-block;
      margin: 3rem;
      width: 40%;
      
    }
    .description{
      width: 70%;
      font-family: 'EB Garamond', serif;
      font-size: 2rem;
      text-align: center;
      
    }
    .promo-top-heading hr{
      display: inline-block;
      margin-right: 1rem;
      position: relative;
      top: .5rem;
      width: 30%;
      border: 1px solid red;
    }
    .promo-top-heading h4{
      display: inline-block;
    
    }
    .promo-top-div p{
      font-family: 'Metal Mania', cursive;
      font-size: 3rem;
    }
    .promo-top p{
      font-family: 'Metal Mania', cursive;
      font-size: 3rem;
    }
    .promo-button {
      /* width: 100%; */
      width: 16rem;
    border-radius: 5rem;
      height: 4rem;
      border-style: none;
      background-color: red;
    color: white;
      font-size: 1.3rem;
    }
    .promo-button:hover{
      background-color: white;
      border-collapse: collapse;
      color: rgb(6, 110, 201);
    }

 /* maritime page */
.promo-card-maritime{
  background-color: white;
  display: inline-block;
  width: 100%;
  text-align-last: left;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}
.promo-card-maritime hr{
  width: 80%;
  border: 1px solid rgb(236, 8, 8);
  margin-top: 2rem;
}
.promo-card-maritime li {
  list-style-type:none;
  width: 90%;
  margin: 1rem;
  font-size: 1.2rem;
  text-align: left;
  padding-top: 2%;
}
.maritime-header{
  font-family: 'Oswald', sans-serif;
  color: red;
  padding-top: 2rem;
}
.maritime-description{
  background-color: white;
  color: black;
  display: inline-block;
  width: 100%;  
  font-size: 1.2rem;
  margin-top: 2rem; 
  margin-bottom: 1rem;
     box-sizing: border-box;
     font-family: 'Faustina', serif;
     transform: scale(1);
    transition: transform 0.5s ease;
  text-align: left;
}
.maritime-description-main{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom:1rem;
  background-color: white;
  color: black;
  display: inline-block;
  width: 100%;  
  font-size: 1.2rem;
  margin-top: 2rem; 
     margin-bottom:2rem;
     box-sizing: border-box;
     font-family: 'Faustina', serif;
     transform: scale(1);
    transition: transform 0.5s ease;
  text-align: left;
}
/* dropdown */

.dropdown-menu  {
  overflow:auto;
  height: 20rem;
 }

 /* Footer  */

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  padding-left: 3rem;
  font-size: 14px;
}

}